* {
  box-sizing: border-box;
}

html {
  color: $clr-dark;
  font-family: roboto, sans-serif;

  // תמיכה כללית ב-RTL
  direction: rtl;
}

body {
  margin: 0;

  // יישור טקסטים עבריים ברירת מחדל
  text-align: right;
  line-height: 1.6;
  background-color: #fff;
}

// כותרות ופסקאות
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-weight: 500;
}

p {
  margin: 0 0 1em;
}

// קישורים
a {
  text-decoration: none;
  color: unset;
}

a.active {
  text-decoration: overline;
}

// מדיה
img,
embed,
video,
object {
  max-width: 100%;
}

// DEBUG
.debug * {
  outline: 1px solid gold;
}

// טפסים – RTL מלא
input,
select,
textarea {
  direction: rtl;
  text-align: right;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}
