* {
  box-sizing: border-box;
}

html {
  color: $clr-dark;
  font-family: roboto, sans-serif;
  direction: rtl;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  text-align: right;
  background-color: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-weight: 500;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}

a.active {
  text-decoration: overline;
}

a:hover {
  text-decoration: none;
}

img,
embed,
video,
object {
  max-width: 100%;
}

.debug * {
  outline: 1px solid gold;
}

input,
select,
textarea,
button {
  direction: rtl;
  text-align: right;
  font-family: inherit;
}

button {
  cursor: pointer;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
}
