.main-layout {
  display: grid;
  grid-template-areas:
    'header main'
    'footer footer';
  grid-template-columns: 30vh auto;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  overflow-x: hidden;

  > header {
    grid-area: header;
    background-color: #f4f4f4;
    border-inline-end: 1px solid #ccc;
    padding: 1.5rem;
    overflow-y: auto;
    height: 100%;
    position: sticky;
    top: 0;
    align-self: start;
  }

  > main {
    grid-area: main;
    background-color: #fff;
    padding: 2rem;
    min-width: 0;
    overflow-x: auto;
  }

  > footer {
    grid-area: footer;
    background-color: #eaeaea;
    padding: 1rem 2rem;
    border-top: 1px solid #ccc;
    text-align: center;
  }

  @media (max-width: 768px) {
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    > header {
      position: static;
      height: auto;
      border-inline-end: none;
      border-bottom: 1px solid #ccc;
    }

    > main {
      padding: 1rem;
    }
  }
}
